<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <title>CIAM Demo</title>
  </head>
  <body>
    <h1>Sign Into Your Profile</h1>
    <html>
      <head>
        <title>Login</title>
      </head>
      <body class="container">
        <span
          >You are logged out. Click button below to login using AWS
          Cognito.</span
        >
        <form action="{{ auth_url }}" method="get">
          <input type="hidden" name="response_type" value="code" />
          <input type="hidden" name="client_id" value="{{ client_id }}" />
          <input type="hidden" name="redirect_uri" value="{{redirect_uri}}" />
          <input type="hidden" name="scope" value="{{ scope }}" />
          <input type="submit" value="Sign In" />
        </form>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>
  </body>
</html>
