{% extends 'base.html' %} 

{% block content %}

  <div class="container">
      <div class="row justify-content-center mt-5">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                      <h2 class="card-title text-center pb-4">CIAM Demo Sign In</h2>
                        <p class="pb-1">Click button below to login using AWS Cognito.</p>
                      <form action="{{ auth_url }}" method="get">
                          <input type="hidden" name="response_type" value="code" />
                          <input type="hidden" name="client_id" value="{{ client_id }}" />
                          <input type="hidden" name="redirect_uri" value="{{redirect_uri}}" />
                          <input type="hidden" name="scope" value="{{ scope }}" />
                          <button type="submit" class="btn btn-primary w-100">Sign In</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}
