<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>CIAM Demo</title>
  </head>
  <body>
    <h1>Profile</h1>
    <span>Here's your profile information:</span>
    <br />
    <div class="button-container">
      <button onclick="window.location.href='home'">Home</button>
      <button onclick="window.location.href='logout'">Sign Out</button>
    </div>
  </body>
</html>
